$primary-font: "Poppins", sans-serif;
$alt-font: "Roboto", sans-serif;
$bg-color: #f6f7fb;
$acc-blue: #1e86ff;
$subtle-text: #b9bdcf;
$font-color: #334680;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $bg-color;
  margin: 12px;
}

// Header

.github-header {
  font-family: $primary-font;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 32px;
  .bold-text {
    font-weight: 700;
  }
}

.search-bar--wrapper {
  background-size: cover;
  background-position: center;
  padding: 42px 18px;
  border-radius: 8px;
}

.search-form {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .search-input {
    width: 100%;
    border: none;
    padding-left: 10px;
    color: $subtle-text;
    font-size: 1.2rem;
  }
  .material-icons {
    padding-left: 12px;
    color: $subtle-text;
  }
}

.search-btn {
  cursor: pointer;
  font-size: 1.6rem;
  font-family: $alt-font;
  font-weight: 500;
  background: $acc-blue;
  padding: 14px 27px;
  border-radius: 4px;
  border: none;
  color: #fff;
}

// Job Filters

.fulltime-toggle {
  display: flex;
  align-items: center;
  margin: 30px 14px;
  font-size: 1.4rem;
  color: $font-color;
  font-family: $primary-font;
  font-weight: 500;
}

.fulltime-label {
  padding-left: 12px;
}

.location-search {
  display: flex;
  flex-direction: column;
}

.location-header {
  font-family: $primary-font;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $subtle-text;
}

.location-input--wrapper {
  margin: 14px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 18px 14px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 1.2rem;
  .material-icons {
    color: $subtle-text;
  }
  .location-input {
    color: $subtle-text;
    border: none;
    width: 100%;
    margin-left: 16px;
    background: transparent;
  }
}

.default-locales {
  display: flex;
  flex-direction: column;
}

.locale-label {
  color: $font-color;
  font-size: 1.4rem;
  font-family: $primary-font;
  display: flex;
  align-items: center;
  margin: 10px 0;
  input {
    background: $subtle-text;
  }
  > * {
    padding: 0 12px;
  }
}

// Job Listings

.job {
  font-family: $alt-font;
  color: $font-color;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  margin: 24px 0;
  padding: 12px;
  display: flex;
  cursor: pointer;
  transition-duration: 250ms;
}

.company-logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  border-radius: 4px;
}

.logo--wrapper {
  height: 90px;
  width: 90px;
  margin-right: 16px;
}

.company--wrapper {
  width: 100%;
}

.company-name-header {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.job-title {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 14px;
}

.job-type {
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid $font-color;
  border-radius: 4px;
  padding: 6px;
  width: max-content;
  margin-bottom: 32px;
}

.location-creation--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  font-size: 1.2rem;
  color: $subtle-text;
}

.location,
.since-posted {
  display: flex;
  align-items: center;
  .material-icons {
    margin-right: 5px;
  }
}

// Job Info
.job-details {
  color: $font-color;
  font-family: $primary-font;
  .link-apply--wrapper {
    margin: 32px 0;
  }
  .back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $acc-blue;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 16px 0;
    span {
      display: block;
      padding-right: 10px;
      font-size: 2.4rem;
    }
  }
  .how-header {
    color: $subtle-text;
    text-transform: uppercase;
    font-weight: 700;
    margin: 16px 0;
  }
  .how-text {
    overflow-wrap: break-word;
    font-size: 1.4rem;
    a {
      color: $acc-blue;
    }
  }
}

.job-main--wrapper {
  .job-type {
    margin-bottom: 10px;
  }
  .since-posted {
    color: $subtle-text;
    font-size: 1.2rem;
    margin-bottom: 34px;
  }
}

.job-logo-location--wrapper {
  display: flex;
  margin-bottom: 34px;
  .job-logo {
    width: 42px;
    height: 42px;
    background-size: contain;
    background-position: center;
    border-radius: 4px;
  }
}

.company-location--wrapper {
  font-family: $alt-font;
  margin-left: 12px;
  .company-name {
    font-weight: 700;
    font-size: 1.8rem;
  }
  .location {
    color: $subtle-text;
    font-size: 1.2rem;
  }
}

.job-desc {
  font-family: $alt-font;
  font-size: 1.6rem;
  p {
    margin: 20px 0;
  }
  ul {
    list-style-type: none;
  }
}

.paginate--wrapper {
  display: flex;
  font-family: $alt-font;
  justify-content: space-between;
  align-items: center;
  > * {
    border: thin solid $subtle-text;
    color: $subtle-text;
    font-size: 1.5rem;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    &:hover {
      border-color: $acc-blue;
      color: $acc-blue;
    }
    &:active {
      color: white;
      background: $acc-blue;
    }
  }
}

@import "./size/tablet.scss";
@import "./size/desktop.scss";
